html{
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0px;
    background-image: linear-gradient(to right bottom, #051937, #1f2c6c, #55389f, #9b38c8, #eb12e5);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

a{
    text-decoration: none;
    color:#55389f
}

a:hover{
    color:#eb12e5
}

.list ul li{
    list-style-type: square;
}

table, th, td {
    border: 1px solid rgb(133 50 248);
    width: 500px;
    height: 50px;
    text-align: center;
    padding: 5px;
}

.wrapper{
    width: 1140px;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 25px;
    border-radius: 40px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background: rgba(0, 0, 0, .73);
    box-shadow: 0 2rem 3rem 0 rgba(50, 50, 50, .7);
}

.wrapper div{
    padding: 10px 20px;
}

.wrapper div.header{
    padding: 0px;
}

.contentWrapper .contentHeaders{
    border-bottom: 2px solid rgb(133 50 248);
    padding-bottom: 1px;
    margin-block-start: 0px;
}

.header nav{
    text-align: center;
    color: white;
}

.header nav span{
    color: rgb(133 50 248);
}
.header nav a{
    color: white;
}

#header-title{
    text-align: center;
    font-size: 3.5em;
    background-image: url(/img/footballer-topBanner.png);
    background-size: cover;
    background-position: 10% 25%;
    background-repeat: no-repeat;
    border-radius: 25px;
    padding-top: 0.67em;
    padding-bottom: 0.67em;
    margin-block-start: 0px;
    margin-block-end: 30px;
}

#header-title i{
    font-weight: 100;
    font-size: .5em;
}

.paragraphs p{
    font-size: 1.2em;
}

div.table{
    display: flex;
    justify-content: space-around;
}

div.table .imgTable{
    padding: 14px 0px;
}

/* Forms */

div.forms input{
    margin-top: 2px;
    margin-bottom: 15px;
}

div.forms input[type=text],div.forms select,div.forms input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

div.forms input[type=text]:focus,div.forms select:focus,div.forms input[type=password]:focus,div.forms textarea:focus,div.forms button:first-of-type:focus {
    outline: transparent;
    box-shadow: 0 0 0 2pt rgb(133 50 248);
}

div.forms input[type="radio"]{
    margin-top: 10px;
    margin-bottom: 25px;
}

div.forms select{
    margin-bottom: 20px;
}

div.forms textarea{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    margin-top: 2px;
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;
}

div.forms button{
    padding: 10px 30px;
    border: 0px;
    border-radius: 20px;
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

div.forms button:first-of-type{
    outline: transparent;
    background-color: rgb(133 50 248);
    margin-right: 10px;
}

div.forms button:last-of-type{
    outline: transparent;
    background-color: rgb(50 60 248 / 44%);
}

div.forms button:last-of-type:hover{
    outline: transparent;
    box-shadow: 0 0 0 2pt rgb(50 60 248 / 44%);
}

/* TIN CSS */

div.tinCss .left-col{
    float: left;
    width: 45%;
}

div.tinCss .right-col{
    float: left;
    width: 45%;
}

div.tinCss .cleared{
    clear: both;
}

div.tinCss img{
    border: 1px solid rgb(133 50 248);;
    padding: 5px;
    margin-right: 6px;
    margin-top: 3px;
    max-width: 100%;
    max-height: 100%;
}

div.tinCss img.toLeft{
    float: left;
}

div.tinCss img.toRight{
    float: right;
}

/* Final */

div.final .contentHeaders{
    font-size: 1.4em;
    margin-block-start: 1em;
}

div.final .contentHeaders:first-of-type{
    margin-block-start: 0em;
}

div.final .articleBlock{
    margin: 10px 20px;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, .83);;
    background: rgba(0, 0, 0, .43);
}




@media screen and (max-width:1320px) {
    .wrapper{
        width: 80%;
    }
}

@media screen and (max-width:1160px) {
    div.tinCss, div.tinCss div{
        padding: 10px 0px;
    }

    div.tinCss .left-col,div.tinCss .right-col{
        width: 100%;
    }

    div.tinCss img.toLeft,div.tinCss img.toRight{
        float: left;
    }

}

@media screen and (max-width:560px) {
    #header-title{
        font-size: 2.3em;
    }
}