<nb-layout windowMode>
  <nb-layout-header fixed>
    <a (click)="toggle()" class="sidebar-toggle"><nb-icon icon="menu-outline"></nb-icon></a>
    <h2 class="text_header">Footballers Library</h2>
    <div class="header-container">
      <nb-actions size="small" *nbIsGranted="['type', 'agent']">
        <nb-action class="user-action"  >
          <nb-user [name]="user?.name + ' ' + user?.surname"
                   nbContextMenuTag="my-context-menu"
                   >
          </nb-user>
          <nb-action class="control-item" icon="log-out-outline" routerLink="/auth/logout"></nb-action>
        </nb-action>
      </nb-actions>
    </div>
  </nb-layout-header>
  <nb-sidebar tag="menu" state="compacted" responsive>
    <nb-menu [items]="items"></nb-menu>
  </nb-sidebar>

  <nb-layout-column  class="colored-column-info">
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>