<nb-layout>
  <nb-layout-header fixed>
    <a (click)="toggle()"  class="sidebar-toggle"><nb-icon icon="menu-outline"></nb-icon></a>
    <h2 class="text_header">Footballers Library</h2>
    <div class="header-container">
      <nb-actions size="small">
        <nb-action class="user-action" *nbIsGranted="['create', 'soccer']" >
          <nb-user [nbContextMenu]="userMenu"
                   [name]="user?.name + ' ' + user?.surname"
                   >
          </nb-user>
        </nb-action>
      </nb-actions>
    </div>
  </nb-layout-header>
  <nb-sidebar tag="menu" state="compacted">
    <nb-menu [items]="items"></nb-menu>
  </nb-sidebar>

  <nb-layout-column  class="colored-column-info">
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>