<nb-card status="success" *ngFor="let item of data">
    <nb-card-header>{{item.name}} {{item.surname}}</nb-card-header>
    <nb-card-body>
      {{item.desc}}
    </nb-card-body>
    <nb-accordion>
        <nb-accordion-item>
          <nb-accordion-item-header>
            Soccer Details
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            <p>Age: {{item.age}}</p>
            <p>Height: {{item.height}}cm</p>
            <p>Weight: {{item.weight}}kg</p>
            <p>Price: {{item.price}}$</p>
            <p>Birthdate: {{item.birthdate | date}}</p>
            <p>Sex: {{item.sex}}</p>
            <p>Nationality: {{item.nationality}}</p>
          </nb-accordion-item-body>
        </nb-accordion-item>
      
        <nb-accordion-item *ngIf="item.stats.length > 0">
          <nb-accordion-item-header>
            Matches
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            <nb-card *ngFor="let stat of item.stats" status="info">
              <nb-card-header>{{stat.match.match_date | date}} - {{stat.match.stadium}}</nb-card-header>
              <nb-card-body>
                <p>Playtime: {{stat.playtime}}</p>
                <p>Red cards: {{stat.redCards}}</p>
                <p>Yellow cards: {{stat.yellowCards}}</p>
              </nb-card-body>
            </nb-card>
          </nb-accordion-item-body>
        </nb-accordion-item>
    </nb-accordion>
</nb-card>