@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/cosmic';
@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
};

html, body { height: 100%; }
body {
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-image: linear-gradient(to right bottom, #051937, #1f2c6c, #55389f, #9b38c8, #eb12e5);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.nb-theme-cosmic ng2-smart-table table input{
  color:black
}

.nb-theme-cosmic ng2-smart-table .ng2-smart-actions a.ng2-smart-action,.nb-theme-cosmic ng2-smart-table th.ng2-smart-actions-title-add a{
  font-size: 1rem !important;
}