/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-image: linear-gradient(to right bottom, #051937, #1f2c6c, #55389f, #9b38c8, #eb12e5);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}